{% extends 'master.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}

{% block body %}

<div class="container-fluid">
  <!-- Title -->
  <div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h5 class="txt-dark">{{ page_title }}</h5>
    </div>
  </div>
  <!-- /Title -->

  <!-- Row -->
  <form id="my_form" method="POST"class="form-horizontal">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default card-view">
          <div class="panel-heading">
            <div class="pull-left">
              <h6 class="panel-title txt-dark"></h6>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-wrapper collapse in">
            <div class="panel-body">
              <div class="form-wrap">
                <div class="form-group mb-0">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-8">
                        <label class="control-label mb-10">{{ delivery_form.description.label }}</label>
                        {{ delivery_form.description}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <label class="control-label mb-10">{{ delivery_form.type.label }}</label>
                        {{ delivery_form.type}}
                      </div>
                      <div class="col-sm-6">
                        <label class="control-label mb-10">{{ delivery_form.place.label }}</label>
                        {{ delivery_form.place}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <label class="control-label mb-10">{{ delivery_form.date.label }}</label>
                        {{ delivery_form.date}}
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label mb-10">{{ delivery_form.fetal_sex.label }}</label>
                        {{ delivery_form.fetal_sex}}
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label mb-10">{{ delivery_form.anesthesia_type.label }}</label>
                        {{ delivery_form.anesthesia_type}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <label class="control-label mb-10">{{ delivery_form.anesthesia_doc.label }}</label>
                        {{ delivery_form.anesthesia_doc}}
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label mb-10">{{ delivery_form.abo_rh.label }}</label>
                        {{ delivery_form.abo_rh}}
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label mb-10">{{ delivery_form.lnmp.label }}</label>
                        {{ delivery_form.lnmp}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pull-right">
      <button type="submit" class="btn btn-success btn-anim">
        <i class="fa fa-arrow-circle-left"></i><span class="btn-text">{% trans "Save" %}</span>
      </button>
      <a href="{% url 'patient:view-patient' pk=patient_id %}" class="btn btn-default btn-anim">
        <i class="fa fa-arrow-circle-left"></i><span class="btn-text">{% trans "Back to list" %}</span>
      </a>
    </div>
  </form>
  <!-- /Row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
          <div class="panel-body">
            <div class="table-wrap">
              <div class="table-responsive">
                <div id="datable_1_wrapper" class="dataTables_wrapper">
                  <table id="listPatientsTbl" class="table table-hover display  pb-30 dataTable">
                    <thead>
                      <tr role="row">
                        <th style="text-align:center;">{% trans '#' %}</th>
                        <th style="text-align:center;">{% trans 'ترتيب الحمل' %}</th>
                        <th style="text-align:center;">{% trans 'بيانات الحمل' %}</th>
                        <th style="text-align:center;">{% trans 'نوع الولادة' %}</th>
                        <th style="text-align:center;">{% trans 'مكان الولادة' %}</th>
                        <th style="text-align:center;">{% trans 'تاريخ الولادة' %}</th>
                        <th style="text-align:center;">{% trans 'نوع التخدير' %}</th>
                        <th style="text-align:center;">{% trans 'دكتور التخدير' %}</th>
                        <th style="text-align:center;">{% trans 'abo rh' %}</th>
                        <th style="text-align:center;">{% trans 'fetal sex' %}</th>
                        <th style="text-align:center;">{% trans 'lnmp' %}</th>
                        <th style="text-align:center;">{% trans 'Action' %}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for delivery in patient_delivery %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{delivery.description}}</td>
                        <td>{% if delivery.type == 'c'%}قيصري {% else %} طبيعي {% endif %}</td>
                        <td>{{delivery.place}}</td>
                        <td>{{delivery.date}}</td>
                        <td>{% if delivery.anesthesia_type == 'T' %} Total anesthesia {% elif delivery.anesthesia_type == 'H' %} Half anesthesia {% else %} Local anesthesia {% endif %}</td>
                        <td>{{delivery.anesthesia_doc}}</td>
                        <td>{{delivery.abo_rh}}</td>
                        <td>{% if delivery.fetal_sex == 'm'%}ذكر {% elif delivery.fetal_sex == 'f' %} اثني {% else %} توأم{% endif %}</td>
                        <td>{{delivery.lnmp}}</td>
                        <td class="text-nowrap">
                          <a href="{% url 'patient:update-delivery' pk=delivery.id patient_id=delivery.patient_id %}" class="mr-25" data-toggle="tooltip" data-original-title="Edit">
                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock body %}
