{% extends 'master.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% block body %}
<!-- end Header -->
<div class="col-xl-12">
  <form id="my_form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'messages.html' %}
    <p>
      <button type="submit" class="btn btn-success">حفظ</button>
      <a href="{% url 'patient:view-patient' pk=patient_id %}" class="btn btn-secondary">{% trans "الغاء" %}</a>
    </p>
    <div class="card">
      <div class="card-header">{{ page_title }}</div>
      <div class="card-body">
        <div class="row show-grid">
          <div class="col-md-12">
            {{ check_up_form.complain|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.week_number|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.visit_date|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.g|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.p|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.pre|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.next_visit|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.blood_presure|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.protine|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.rbs|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.hemoglobin|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.placenta|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.water|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.fetal_position|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.fetal_movement|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.fetal_heart_rate|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.weight|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.exit_nature|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.exit_desc|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.surgery|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.surgery_desc|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ check_up_form.clexane_sarf_date|as_crispy_field}}
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-12">
            {{ check_up_form.mhx|as_crispy_field}}
          </div>
          <div class="col-md-12">
            {{ check_up_form.shx|as_crispy_field}}
          </div>
          <div class="col-md-12">
            {{ check_up_form.allergy_hx|as_crispy_field}}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive table-bordered">
          <table class="table" id="dataTable">
            <thead style="background-color: #9d9858b3;">
              <tr role="row">
                <th style="text-align:center;">#</th>
                <th style="text-align:center;">week_number</th>
                <th style="text-align:center;">complain</th>
                <th style="text-align:center;">visit_date</th>
                <th style="text-align:center;">protine</th>
                <th style="text-align:center;">exit_nature</th>
                <th style="text-align:center;">exit_desc</th>
                <th style="text-align:center;">surgery</th>
                <th style="text-align:center;">صرف ادوية</th>
                <th style="text-align:center;"></th>
                <th style="text-align:center;"></th>
              </tr>
            </thead>
            <tbody>
              {% for check in list_checkups %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'patient:view-checkup' patient_id=check.patient.id chk_id=check.id%}">اسبوع الحمل {{check.week_number}}</a></td>
                <td>{{check.complain}}</td>
                <td>{{check.visit_date}}</td>
                <td>{{check.protine}}</td>
                <td>{{check.exit_nature}}</td>
                <td>{{check.exit_desc}}</td>
                <td>{{check.surgery}}</td>
                <td> <a href="{% url 'patient:create-us' check_id=check.id patient_id=check.patient.id %}"><button type="button" class="btn btn-secondary">Ultrasound</button></a></td>
                <td><a href="{% url 'patient:create-med' patient_id=check.patient.id chk_id=check.id %}">صرف دواء</a></td>
                <td><a href="{% url 'patient:update-checkup' patient_id=check.patient.id chk_id=check.id%}">تعديل</a></td>
              </tr>
              {% endfor %}
          </table>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.panel -->
  </form>
</div>
{% endblock body %}
