{% extends 'master.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}

{% block body %}

<div class="container-fluid">
  <!-- Title -->
  <div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h5 class="txt-dark">{{ page_title }}</h5>
    </div>
  </div>
  <!-- /Title -->

  <!-- Row -->
  <form id="my_form" method="POST"class="form-horizontal">
    {% csrf_token %}
    <div class="row" style="padding-bottom: 10px;">
      <div class="pull-right">
        <button type="submit" class="btn btn-success btn-anim">
          <i class="fa fa-arrow-circle-left"></i><span class="btn-text">{% trans "Save" %}</span>
        </button>
        <a href="{% url 'patient:view-patient' pk=patient_id %}" class="btn btn-default btn-anim">
          <i class="fa fa-arrow-circle-left"></i><span class="btn-text">{% trans "Back to patient" %}</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default card-view">
          <div class="panel-heading">
            <div class="pull-left">
              <h6 class="panel-title txt-dark"></h6>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-wrapper collapse in">
            <div class="panel-body">
              <div class="form-wrap">
                <div class="form-group mb-0">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-6">
                        <label class="control-label mb-10">{{ check_up_form.complain.label }}</label>
                        {{ check_up_form.complain}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.week_number.label }}</label>
                        {{ check_up_form.week_number}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.visit_date.label }}</label>
                        {{ check_up_form.visit_date}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.next_visit.label }}</label>
                        {{ check_up_form.next_visit}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.blood_presure.label }}</label>
                        {{ check_up_form.blood_presure}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.protine.label }}</label>
                        {{ check_up_form.protine}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.rbs.label }}</label>
                        {{ check_up_form.rbs}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.hemoglobin.label }}</label>
                        {{ check_up_form.hemoglobin}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.placenta.label }}</label>
                        {{ check_up_form.placenta}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.water.label }}</label>
                        {{ check_up_form.water}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.fetal_position.label }}</label>
                        {{ check_up_form.fetal_position}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.fetal_movement.label }}</label>
                        {{ check_up_form.fetal_movement}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.fetal_heart_rate.label }}</label>
                        {{ check_up_form.fetal_heart_rate}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.weight.label }}</label>
                        {{ check_up_form.weight}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.exit_nature.label }}</label>
                        {{ check_up_form.exit_nature}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.exit_desc.label }}</label>
                        {{ check_up_form.exit_desc}}
                      </div>
                    </div>

                    <div class="row">

                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.surgery.label }}</label>
                        {{ check_up_form.surgery}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.surgery_desc.label }}</label>
                        {{ check_up_form.surgery_desc}}
                      </div>
                      <div class="col-sm-2">
                        <label class="control-label mb-10">{{ check_up_form.clexane_sarf_date.label }}</label>
                        {{ check_up_form.clexane_sarf_date}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <label class="control-label mb-10">{{ check_up_form.mhx.label }}</label>
                        {{ check_up_form.mhx}}
                      </div>
                      <div class="col-sm-12">
                        <label class="control-label mb-10">{{ check_up_form.shx.label }}</label>
                        {{ check_up_form.shx}}
                      </div>
                      <div class="col-sm-12">
                        <label class="control-label mb-10">{{ check_up_form.allergy_hx.label }}</label>
                        {{ check_up_form.allergy_hx}}
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
  <!-- /Row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
          <div class="panel-body">
            <div class="table-wrap">
              <div class="table-responsive">
                <div id="datable_1_wrapper" class="dataTables_wrapper">
                  <table id="listPatientsTbl" class="table table-hover display  pb-30 dataTable">
                    <thead>
                      <tr role="row">
                        <th style="text-align:center;">{% trans '#' %}</th>
                        <th style="text-align:center;">{% trans 'Week number' %}</th>
                        <th style="text-align:center;">{% trans 'Complain' %}</th>
                        <th style="text-align:center;">{% trans 'Visit date' %}</th>
                        <th style="text-align:center;">{% trans 'Protine' %}</th>
                        <th style="text-align:center;">{% trans 'Exit nature' %}</th>
                        <th style="text-align:center;">{% trans 'Exit describtion' %}</th>
                        <th style="text-align:center;">{% trans 'Surgery' %}</th>
                        <th style="text-align:center;">{% trans 'Prescription' %}</th>
                        <th colspan="2" style="text-align:center;">{% trans 'Action' %}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for check in list_checkups %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'patient:view-checkup' patient_id=check.patient.id chk_id=check.id%}">{% trans 'Pregnancy week number ' %}{{check.week_number}}</a></td>
                        <td>{{check.complain}}</td>
                        <td>{{check.visit_date}}</td>
                        <td>{{check.protine}}</td>
                        <td>{{check.exit_nature}}</td>
                        <td>{{check.exit_desc}}</td>
                        <td>{{check.surgery}}</td>
                        <td colspan="2" class="text-nowrap">
                          <a href="{% url 'patient:create-us' check_id=check.id patient_id=check.patient.id %}" class="mr-25" data-toggle="tooltip" data-original-title="{% trans 'Ultrasound' %}">
                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                          </a>
                          <a href="{% url 'patient:create-med' patient_id=check.patient.id chk_id=check.id %}" class="mr-25" data-toggle="tooltip" data-original-title="{% trans 'Prescription' %}">
                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                          </a>
                          <a href="#{% url 'patient:update-checkup' patient_id=check.patient.id chk_id=check.id%}" class="mr-25" data-toggle="tooltip" data-original-title="Edit">
                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
