{% extends 'master.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}

{% block body %}

<div class="container-fluid">
  <!-- Title -->
  <div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h5 class="txt-dark">{{ page_title }}</h5>
    </div>
  </div>
  <!-- /Title -->

  <!-- Row -->
  <form id="my_form" method="POST"class="form-horizontal">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default card-view">
          <div class="panel-heading">
            <div class="pull-left">
              <h6 class="panel-title txt-dark"></h6>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-wrapper collapse in">
            <div class="panel-body">
              <div class="form-wrap">
                <div class="form-group mb-0">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-6">
                        <label class="control-label mb-10">{{ us_form.visit_date.label }}</label>
                        {{ us_form.visit_date}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <label class="control-label mb-10">{{ us_form.prognosis.label }}</label>
                        {{ us_form.prognosis}}
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pull-right">
      <button type="submit" class="btn btn-success btn-anim">
        <i class="fa fa-arrow-circle-left"></i><span class="btn-text">{% trans "Save" %}</span>
      </button>
      <a href="{% url 'patient:all-checkup' patient_id=patient_id %}" class="btn btn-default btn-anim">
        <i class="fa fa-arrow-circle-left"></i><span class="btn-text">{% trans "Cancel" %}</span>
      </a>
    </div>
  </form>
  <!-- /Row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
          <div class="panel-body">
            <div class="table-wrap">
              <div class="table-responsive">
                <div id="datable_1_wrapper" class="dataTables_wrapper">
                  <table id="listPatientsTbl" class="table table-hover display  pb-30 dataTable">
                    <thead>
                      <tr role="row">
                        <th style="text-align:center;">{% trans '#' %}</th>
                        <th style="text-align:center;">{% trans 'Week number' %}</th>
                        <th style="text-align:center;">{% trans 'Complain' %}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for check in list_us %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{check.prognosis}}</td>
                        <td>{{check.visit_date}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
