{% extends 'master.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% block body %}

<div class="col-xl-12">
  <form id="my_form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
      <button value="save" type="submit" class="btn btn-s-md btn-success">حفظ</button>
      <a href="{% url 'pharmacy:all-medicines' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
    </p>
    <div class="card">
      <div class="card-header">{{ page_title }}</div>
      <div class="card-body">
        {{medicine_form|crispy}}
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.panel -->
  </form>
</div>

{% endblock body %}
