{% extends 'master.html'%}
{% load static %}
{% load i18n %}
{% load l10n %}
{% block body %}

<div class="col-xl-12">
  <p>
    <a href="{% url 'pharmacy:create-medicine' %}" class="btn btn-s-md btn-success">{% trans "تسجيل دواء جديد" %}</a>
  </p>
  <div class="card">
    <div class="card-header"><strong>{{ page_title }}</strong></div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr role="row">
              <th></th>
              <th>الاسم العلمي</th>
              <th>الاسم التجاري</th>
              <th>البديل الاول</th>
              <th>البديل الثاني</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            {% for medicine in all_medicines %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{medicine.scientific_name}}</td>
              <td>{{medicine.trade_name}}</td>
              <td>{{medicine.alternate1}}</td>
              <td>{{medicine.alternate2}}</td>
              <td><a href="{% url 'pharmacy:update-medicine' pk=medicine.id %}">{% trans "تعديل" %}</a></td>
            </tr>
            {% endfor %}
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.panel -->
</div>
{% endblock body %}
