{% extends 'master.html'%}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block body %}
<div class="container-fluid">

  <!-- Title -->
  <div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h5 class="txt-dark">{{ page_title }}</h5>
    </div>

  </div>
  <!-- /Title -->

  <!-- Row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default card-view">
        <div class="panel-heading">
          <div class="pull-left">
            <h6 class="panel-title txt-dark"></h6>
          </div>
          <div class="pull-right">
            <a href="{% url 'pharmacy:create-medicine' %}" class="btn btn-primary btn-anim">
              <i class="fa fa-wpforms"></i>
              <span class="btn-text">{% trans 'Add New Medicine' %}</span>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-wrapper collapse in">
          <div class="panel-body">
            <div class="table-wrap">
              <div class="table-responsive">
                <div id="datable_1_wrapper" class="dataTables_wrapper">
                  <table id="listPatientsTbl" class="table table-hover display  pb-30 dataTable">
                    <thead>
                      <tr role="row">
                        <th>{% trans 'Scientific name' %}</th>
                        <th>{% trans 'Trade name' %}</th>
                        <th>{% trans 'Alternate1' %}</th>
                        <th>{% trans 'Alternate2' %}</th>
                        <th>{% trans 'Action' %}</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>{% trans 'Scientific name' %}</th>
                        <th>{% trans 'Trade name' %}</th>
                        <th>{% trans 'Alternate1' %}</th>
                        <th>{% trans 'Alternate2' %}</th>
                        <th>{% trans 'Action' %}</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for medicine in all_medicines %}
                      <tr>
                        <td>{{medicine.scientific_name}}</td>
                        <td>{{medicine.trade_name}}</td>
                        <td>{{medicine.alternate1}}</td>
                        <td>{{medicine.alternate2}}</td>
                        <td class="text-nowrap">
                          <a href="{% url 'pharmacy:update-medicine' pk=medicine.id %}" class="mr-25" data-toggle="tooltip" data-original-title="Edit">
                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                          </a>

                          <a type="button" class="btn cur-p btn-outline-danger" data-toggle="modal" data-target="#delete-modal{{medicine.pk}}" title="{% trans 'Delete' %}">
                            <i class="fa fa-trash-o" style="font-size:20px;color:red"></i>
                          </a>

                        </td>
                      </tr>

                      <div class="modal fade" id="delete-modal{{medicine.pk}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-body">
                              <p>{% trans "Are you sure you want to delete this medicine?" %}</p>

                            </div>
                            <div class="modal-footer">
                              <a href="{% url 'pharmacy:delete-medicine' pk=medicine.id %}" class="btn btn-outline-danger" type="button" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Delete' %}"><i class="fa fa-trash-o"
                                  style="font-size:20px;color:red"></i></a>
                              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Cancel' %}">&#x2718</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Row -->

</div>
{% endblock body %}
{% block js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#listPatientsTbl').DataTable();
  });
</script>

{% endblock js %}
