{% extends 'master.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% block body %}

<div class="col-xl-12">
  <p>
    <button type="submit" class="btn btn-success">حفظ</button>
    <a href="{% url 'pharmacy:all-medicines' %}" ><button type="button" class="btn btn-default">{% trans "Cancel" %}</button></a>
  </p>
  <div class="card">
    <div class="card-header"><strong>{{ page_title }}</strong></div>
    <!-- /.card-header -->
    <div class="card-body">
      <form id="my_form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'messages.html' %}
        {{medicine_form|crispy}}
      </form>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.panel -->
</div>
{% endblock body %}
