{% extends 'master.html' %}
{% load static%}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block body %}
<form method="post" id="my_form">
  {% csrf_token %}
  {% include 'message.html' %}
  <section class="panel panel-default">
    <div class="panel-body">
      <header class="panel-heading font-bold pull-right">{{page_title|title}}</header>
      <div class="doc-buttons pull-left">
        <a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;" class="btn btn-s-md btn-primary ">{% trans "حفظ" %}</a>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-body">
      <div class="form-group pull-in clearfix">
        <div class="pull-right">

        </div>
        <div class="col-sm-6 pull-right">
          {% for field in add_user %}
          <p>
            {{ field.label_tag }}<br>
            {{ field|as_crispy_field }}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</form>
{% endblock body %}
