{% load i18n %}
<!DOCTYPE html>
{% load static %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE }}" dir={% if LANGUAGE_BIDI%}"rtl" {%else%}"ltr"{%endif%} class="bg-dark">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}" />
  <title>عيادة النسا {% trans "Login" %}</title>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="{% static 'css/font.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'js/calendar/bootstrap_calendar.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/app.v2.css' %}" type="text/css" />
</head>

<body class="bg-dark" style={% if LANGUAGE_CODE == 'ar' %} "text-align:right;" {% else %} "text-align:left;" {% endif %}>
  <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <div class="container aside-xxl">
      <section class="panel panel-default bg-white m-t-lg">
        <header class="panel-heading text-center">
          <strong>تسجيل الدخول</strong>
        </header>
        <form method="post" class="panel-body wrapper-lg">
          {% csrf_token %}
          {% include 'messages.html' %}
          <div class="form-group">
            <div class="illustration" align="center">
              <img style="max-height:120%;max-width: 100%;" src="{% static 'img/woman_login.jpg' %}">
            </div>
            <input class="form-control" type="text" name="username" placeholder="اسم المستخدم" required="required">
          </div>
          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="كلمة السر" required="required">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">دخول</button>
          </div>
          <div class="line line-dashed"></div>
        </form>
      </section>
    </div>
  </section>
  <footer id="footer">
    {% include 'footer.html' %}
  </footer>
  <script src="{% static  'js/app.v2.js'%}"></script>
  <!-- App -->
</body>

</html>
