<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{% trans 'Toson Hospital' %}</title>
  <meta name="author" content="hencework" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

  <!-- Data table CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
  <link href="{% static 'vendors/bower_components/datatables/media/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom CSS -->
  <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Preloader -->
  <div class="preloader-it">
    <div class="la-anim-1"></div>
  </div>
  <!-- /Preloader -->
  <div class="wrapper theme-6-active pimary-color-yellow">
    <!-- Top Menu Items -->
    {% include 'top-bar.html' %}
    <!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    <div class="fixed-sidebar-left">
      {% include 'side-bar.html' %}
    </div>
    <!-- /Left Sidebar Menu -->


    <!-- Main Content -->
    <div class="page-wrapper">
      {% block body %}
      {% include 'message.html' %}
      {% endblock body %}
    </div>
    <!-- /Main Content -->

  </div>
  <!-- /#wrapper -->

  <!-- JavaScript -->
  <script type="text/javascript">

  </script>

  <!-- jQuery -->
  <script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

  <!-- Data table JavaScript -->
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

  <!-- Slimscroll JavaScript -->
  <script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>

  <!-- simpleWeather JavaScript -->
  <script src="{% static 'vendors/bower_components/moment/min/moment.min.js' %}"></script>
  <script src="{% static 'vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js' %}"></script>
  <script src="{% static 'dist/js/simpleweather-data.js' %}"></script>

  <!-- EChartJS JavaScript -->
  <script src="{% static 'vendors/bower_components/echarts/dist/echarts-en.min.js' %}"></script>
  <script src="{% static 'vendors/echarts-liquidfill.min.js' %}"></script>

  <!-- Progressbar Animation JavaScript -->
  <script src="{% static 'vendors/bower_components/waypoints/lib/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendors/bower_components/jquery.counterup/jquery.counterup.min.js' %}"></script>

  <!-- Fancy Dropdown JS -->
  <script src="{% static 'dist/js/dropdown-bootstrap-extended.js' %}"></script>

  <!-- Sparkline JavaScript -->
  <script src="{% static 'vendors/jquery.sparkline/dist/jquery.sparkline.min.js' %}"></script>

  <!-- Owl JavaScript -->
  <script src="{% static 'vendors/bower_components/owl.carousel/dist/owl.carousel.min.js' %}"></script>

  <!-- Toast JavaScript -->
  <script src="{% static 'vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js' %}"></script>

  <!-- Piety JavaScript -->
  <script src="{% static 'vendors/bower_components/peity/jquery.peity.min.js' %}"></script>
  <script src="{% static 'dist/js/peity-data.js' %}"></script>

  <!-- Switchery JavaScript -->
  <script src="{% static 'vendors/bower_components/switchery/dist/switchery.min.js' %}"></script>

  <!-- Init JavaScript -->
  <script src="{% static 'dist/js/init.js' %}"></script>
  <script src="{% static 'dist/js/dashboard-data.js' %}"></script>

  {% block js %}
  {% endblock js %}
</body>

</html>
