<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<html lang="ar" dir="rtl" class="app">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}" />
  <title>عيادة النسا</title>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="{% static 'css/font.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'js/calendar/bootstrap_calendar.css' %}" type="text/css" />
  {% if LANGUAGE_CODE == 'ar' %}
  <link rel="stylesheet" href="{% static 'css/app.v2ar.css' %}" type="text/css" />
  {% else %}
  <link rel="stylesheet" href="{% static 'css/app.v2.css' %}" type="text/css" />
  {% endif %}
  <link rel="stylesheet" href="{% static 'css/orbit-1.css' %}" type="text/css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatable.css' %}"/>

</head>

<body>
  <section class="vbox">
    <header class="bg-dark dk header navbar navbar-fixed-top-xs">
      {% include 'top_nav.html' %}
    </header>
    <section class="hbox stretch">
      <!-- nav -->
      {% include 'side_nav.html' %}
      <!-- / nav -->
      <!-- block body  -->
      <section class="content">
        <section class="vbox">
          <section class="scrollable padder">
            <header class="breadcrumb no-border no-radius b-b b-light pull-in">
              <p class="label label-lg">
            </header>
            {% block body %}
            {% endblock body %}
          </section>
        </section>
      </section>
      <!-- end block body -->

    </section>
  </section>
  <!-- bootstrap js  -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <!-- chart js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <!-- App -->
  <script src="{% static  'js/app.v2.js'%}"></script>
  <script src="{% static  'js/charts/easypiechart/jquery.easy-pie-chart.js'%}"></script>
  <script src="{% static  'js/charts/sparkline/jquery.sparkline.min.js'%}"></script>
  <script src="{% static  'js/charts/flot/jquery.flot.min.js'%}"></script>
  <script src="{% static  'js/charts/flot/jquery.flot.tooltip.min.js'%}"></script>
  <script src="{% static  'js/charts/flot/jquery.flot.resize.js'%}"></script>
  <script src="{% static  'js/charts/flot/jquery.flot.grow.js'%}"></script>
  <script src="{% static  'js/charts/flot/demo.js'%}"></script>
  <script src="{% static  'js/calendar/bootstrap_calendar.js'%}"></script>
  <script src="{% static  'js/calendar/demo.js'%}"></script>
  <script src="{% static  'js/sortable/jquery.sortable.js'%}"></script>

  <!-- Datatable search -->
  <script type="text/javascript" src="{% static  'js/datatable-jquery.js'%}"></script>
  <script type="text/javascript" src="{% static  'js/datatable-js.js'%}"></script>
  {% block js %} {% endblock js %}
</body>

</html>
