{% load i18n %}
{% load l10n %}
{% load static %}
<div class="sidebar" role="navigation">
<div class="sidebar-nav collapse navbar-collapse show" id="side-menu-wrapper">
  <ul class="nav navbar-nav navbar-collapse flex-column side-nav list-group" id="side-menu">
    <li class="list-group-item">
      <a href="{% url 'report:rep-all-patients'%}">
        <i class="fa fa-dashboard fa-fw"></i>{% trans 'الرئيسية'%}</a>
    </li>
    <!-- بيانات اساسية -->
    <li class="list-group-item">
      <a href="#">
        <i class="fa fa-bar-chart-o fa-fw"></i>بيانات اساسية<span class="fa arrow">
        </span>
      </a>
      <ul class="nav-second-level list-group nested">
        <li class="list-group-item">
          <a href="{% url 'patient:create-patient'%}">تسجيل بيانات المرضي</a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'pharmacy:all-medicines'%}">تسجيل الادوية</a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'patient:all-gynos'%}">تشخيص امراض النسا</a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'surgery:list-surgery-types'%}">بيانات عمليات النسا</a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'surgery:list-surgery-doctors'%}">قاعدة بيانات الجراحين</a>
        </li>
      </ul>
      <!-- /.nav-second-level -->
    </li>
    <!-- نهاية بيانات اساسية -->
    <!-- شاشة المتابعات -->
    <li class="list-group-item">
      <a href="#">
        <i class="fa fa-wrench fa-fw">
        </i> المتابعات<span class="fa arrow"></span>
      </a>
      <ul class="nav-second-level list-group nested">
        <li class="list-group-item">
          <a href="{% url 'patient:all-patients'%}">متابعة عامة</a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'patient:all-con-patients'%}">متابعة الاستشاري</a>
        </li>
      </ul>
      <!-- /.nav-second-level -->
    </li>
    <!-- نهاية المتابعات -->
    <!-- شاشات التقارير -->
    <li class="list-group-item">
      <a href="#">
        <i class="fa fa-wrench fa-fw">
        </i>التقارير<span class="fa arrow"></span>
      </a>
      <ul class="nav-second-level list-group nested">
        <li class="list-group-item">
          <a href="{% url 'report:rep-dashboard' %}">تقارير</a>
        </li>
      </ul>
      <!-- /.nav-second-level -->
    </li>
    <!-- نهاية التقارير -->
  </ul>
</div>
</div>
