{% load i18n %}
{% load l10n %}
{% load static %}

<div class="align-items-baseline d-flex flex-row navbar-brand p-lg-3 pl-3 pr-3 pt-3">
  <img style="max-height:50px;max-width: 100px;" src="{% static 'img/gyn.png' %}"></a>
  <button class="collapsed ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#side-menu-wrapper" aria-controls="side-menu" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
<ul class="nav navbar-nav mr-md-auto flex-row navbar-top-links">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <span class="profile-ava">
        {% trans 'مرحبا' %} &emsp;
      </span>
      <span class="username">{{user.username|upper}}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-user">
      <a class="dropdown-item" href="{% url 'home:new-user'%}">
        {% if user.is_superuser %}
        <i class="fa fa-user fa-fw"></i>{% trans "ADD NEW USER" %}</a>
        {% endif %}
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal" href="#"><i class="fa fa-sign-out fa-fw"></i>{% trans "LOG OUT" %}</a>
    </div>
  </li>
</ul>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans "واثق من الخروج؟" %}</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">{% trans "اذا اردت الخروج من البرنامج اضغط خروج" %}</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans "Cancel" %}</button>
        <a class="btn btn-info" href="{% url 'home:logout'%}">{% trans "خروج" %}</a>
      </div>
    </div>
  </div>
</div>
