{% extends 'master.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}

{% block body %}

<div class="container-fluid">
  <!-- Title -->
  <div class="row heading-bg">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h5 class="txt-dark">{{ page_title|title }}</h5>
    </div>
  </div>
  <!-- /Title -->

  <!-- Row -->
  <form id="my_form" method="POST"class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row" style="padding-bottom: 10px;">
      <div class="pull-right">
        <button type="submit" class="btn btn-success btn-anim">
          <i class="fa fa-arrow-circle-left"></i><span class="btn-text">{% trans "Save" %}</span>
        </button>
        <a href="{% url 'patient:view-patient' pk=required_patient.id %}" class="btn btn-default btn-anim">
          <i class="fa fa-arrow-circle-left"></i><span class="btn-text">{% trans "Back to patient" %}</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default card-view">
          <div class="panel-heading">
            <div class="pull-left">
              <h6 class="panel-title txt-dark"></h6>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-wrapper collapse in">
            <div class="panel-body">
              <div class="form-wrap">
                <div class="form-group mb-0">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-4">
                        <label class="control-label mb-10">{{ diabete_form.bs.label }}</label>
                        {{ diabete_form.bs}}
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label mb-10">{{ diabete_form.bp_up.label }}</label>
                        {{ diabete_form.bp_up}}
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label mb-10">{{ diabete_form.bp_down.label }}</label>
                        {{ diabete_form.bp_down}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-4">
                        <label class="control-label mb-10">{{ diabete_form.temp.label }}</label>
                        {{ diabete_form.temp}}
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label mb-10">{{ diabete_form.reading_date.label }}</label>
                        {{ diabete_form.reading_date}}
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
  <!-- /Row -->
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
          <div class="panel-body">
            <div class="table-wrap">
              <div class="table-responsive">
                <div id="datable_1_wrapper" class="dataTables_wrapper">
                  <table id="listPatientsTbl" class="table table-hover display  pb-30 dataTable">
                    <thead>
                      <tr role="row">
                        <th style="text-align:center;">{% trans '#' %}</th>
                        <th style="text-align:center;">{% trans 'Reading date' %}</th>
                        <th style="text-align:center;">{% trans 'Blood Sugar' %}</th>
                        <th style="text-align:center;">{% trans 'Blood pressure up' %}</th>
                        <th style="text-align:center;">{% trans 'Blood pressure down' %}</th>
                        <th style="text-align:center;">{% trans 'Temperature' %}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for check in list_diabetes %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{check.reading_date}}</td>
                        <td>{{check.bs}}</td>
                        <td>{{check.bp_up}}</td>
                        <td>{{check.bp_down}}</td>
                        <td>{{check.temp}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <canvas id="patients-diabetes-chart" data-url="{% url 'patient:patients-diabetes-chart' patient_id=required_patient.id %}"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  $(function() {
    var $populationChart = $("#patients-diabetes-chart");
    $.ajax({
      url: $populationChart.data("url"),
      success: function(data) {

        var ctx = $populationChart[0].getContext("2d");

        new Chart(ctx, {
          type: 'line',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'سكر المريضة',
              backgroundColor: 'red',
              borderColor: 'red',
              data: data.bs,
              fill:false,
            },{
              label: 'SBP',
              backgroundColor: 'blue',
              borderColor: 'blue',
              data: data.bp_up,
              fill:false,
            },{
              label: 'DBP',
              backgroundColor: 'orange',
              borderColor: 'orange',
              data: data.bp_down,
              fill:false,
            }
          ],
          },
          options: {
            responsive: true,
            scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}]
				},
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'رسم بياني للمتابعة الدورية للمريضة'
            }
         }
        });
      }
    });
  });
</script>
{% endblock body %}
