{% extends 'master.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% block body %}

<div class="col-xl-12">
  <form id="my_form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'messages.html' %}
    {% include 'top-button.html' %}
    <div class="card">
      <div class="card-header">{{ page_title }}</div>
      <div class="card-body">
        <div class="row show-grid">
          <div class="col-md-6">
            {{ patient_form.name|as_crispy_field}}
          </div>
          <div class="col-md-6">
            {{ patient_form.address|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.job|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.phone|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.mobile|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.date_of_birth|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.husband_name|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.husband_phone|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.g|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.p|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.pre|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.insurance_number|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.entrance_number|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.hospital_number|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.patient_number|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.room|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.hospital_section|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.transferred_from|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.clexane_order_number|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.patient_type|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.entrance_date|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_form.exit_date|as_crispy_field}}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row show-grid">
          <div class="col-md-3">
            {{ patient_past_med.diabetes|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.pulmonar|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.hypertension|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.allergies|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.heart_disease|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.breast|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.autoimmun_disorder|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.abnormal_pap|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.kidney_disease|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.uterine|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.psychiatric|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.infertility|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.neurologic|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.rfh|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.hld|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.gyns|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.varicosities|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.operation|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.thyroid_dysfunction|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.anesthetic|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.trauma|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {{ patient_past_med.hobt|as_crispy_field}}
          </div>
          <div class="col-md-6">
            {{ patient_past_med.othr|as_crispy_field}}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive table-bordered">
          <table class="table" id="dataTable">
            <thead style="background-color: #89acbdb3;">
              <tr role="row">
                <th style="text-align:center;">#</th>
                <th style="text-align:center;">اسم المرفق</th>
                <th style="text-align:center;">المرفقات</th>
              </tr>
            </thead>
            <tbody>
              {% for att in patient_attachments %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{att.attachment_name}}</td>
                <td><a href="{{media_url}}{{att.attachment}}" target="_blank"><img src="{{media_url}}{{att.attachment}}"  alt="" width="100;" height="100;"></a></td>
              </tr>
              {% endfor %}
          </table>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.panel -->
    <!-- Patient Exit Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <form method='POST'>
            <div class="modal-body">
                {{exit_form|crispy}}
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary"> Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </form>
      </div>
    </div>
    </div>

  </form>
</div>

{% endblock body %}
