{% extends 'master.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}

{% block body %}
<form id="my_form" method="POST" enctype="multipart/form-data" class="form-horizontal">
  {% csrf_token %}
  <div class="container-fluid">

    <!-- Title -->
    <div class="row heading-bg">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">{{ page_title }}</h5>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 pull-right">
        {% include 'top-button.html' %}
      </div>
    </div>
    <!-- Row -->
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default card-view">
          <div class="panel-heading">
            <div class="pull-left">
              <h6 class="panel-title txt-dark">{% trans 'Patient Informations Form' %}</h6>
            </div>
            <div class="pull-right">
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-wrapper collapse in">
            <div class="panel-body">
              <div class="form-wrap">

                <div class="form-group">
                  <label class="control-label col-sm-1">{{patient_form.name.label }}</label>
                  <div class="col-sm-5">
                    {{patient_form.name}}
                  </div>
                  <label class="control-label col-sm-1">{{patient_form.address.label }}</label>
                  <div class="col-sm-5">
                    {{patient_form.address}}
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-1">{{patient_form.job.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.job}}
                  </div>
                  <label class="control-label col-sm-1">{{patient_form.phone.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.phone}}
                  </div>
                  <label class="control-label col-sm-1">{{patient_form.mobile.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.mobile}}
                  </div>
                  <label class="control-label col-sm-1">{{patient_form.date_of_birth.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.date_of_birth}}
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-1">{{patient_form.husband_name.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.husband_name}}
                  </div>
                  <label class="control-label col-sm-1">{{patient_form.husband_phone.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.husband_phone}}
                  </div>
                  <label class="control-label col-sm-1">{{patient_form.insurance_number.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.insurance_number}}
                  </div>
                  <label class="control-label col-sm-1">{{patient_form.entrance_number.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.entrance_number}}
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-1">{{patient_form.hospital_number.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.hospital_number}}
                  </div>
                  <label class="control-label col-sm-1">{{patient_form.patient_number.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.patient_number}}
                  </div>
                  <label class="control-label col-sm-1">{{patient_form.room.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.room}}
                  </div>
                  <label class="control-label col-sm-1">{{patient_form.hospital_section.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.hospital_section}}
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-1">{{patient_form.transferred_from.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.transferred_from}}
                  </div>
                  <label class="control-label col-sm-1">{{patient_form.clexane_order_number.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.clexane_order_number}}
                  </div>
                  <label class="control-label col-sm-1">{{patient_form.patient_type.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.patient_type}}
                  </div>
                  <label class="control-label col-sm-1">{{patient_form.entrance_date.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.entrance_date}}
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-1">{{patient_form.exit_date.label }}</label>
                  <div class="col-sm-2">
                    {{patient_form.exit_date}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default card-view">
          <div class="panel-heading">
            <div class="pull-left">
              <h6 class="panel-title txt-dark">{% trans "Patient medical history" %}</h6>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-wrapper collapse in">
            <div class="panel-body">
              <div class="form-wrap">
                <div class="form-group">
                  <label class="control-label col-sm-1">{{ patient_past_med.diabetes.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.diabetes}}
                  </div>
                  <label class="control-label col-sm-1">{{ patient_past_med.pulmonar.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.pulmonar}}
                  </div>
                  <label class="control-label col-sm-1">{{ patient_past_med.hypertension.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.hypertension}}
                  </div>
                  <label class="control-label col-sm-1">{{ patient_past_med.trauma.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.trauma}}
                  </div>
                  <label class="control-label col-sm-1">{{ patient_past_med.heart_disease.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.heart_disease}}
                  </div>
                  <label class="control-label col-sm-1">{{ patient_past_med.breast.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.breast}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-1">{{ patient_past_med.abnormal_pap.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.abnormal_pap}}
                  </div>
                  
                  <label class="control-label col-sm-1">{{ patient_past_med.psychiatric.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.psychiatric}}
                  </div>
                  <label class="control-label col-sm-1">{{ patient_past_med.infertility.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.infertility}}
                  </div>
                  <label class="control-label col-sm-1">{{ patient_past_med.neurologic.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.neurologic}}
                  </div>
                  <label class="control-label col-sm-1">{{ patient_past_med.rfh.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.rfh}}
                  </div>
                </div>
                <div class="form-group">

                  <label class="control-label col-sm-1">{{ patient_past_med.varicosities.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.varicosities}}
                  </div>
                  <label class="control-label col-sm-1">{{ patient_past_med.operation.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.operation}}
                  </div>
                  <label class="control-label col-sm-1">{{ patient_past_med.thyroid_dysfunction.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.thyroid_dysfunction}}
                  </div>
                  <label class="control-label col-sm-1">{{ patient_past_med.thyroid_dysfunction_value.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.thyroid_dysfunction_value}}
                  </div>
                  <label class="control-label col-sm-1">{{ patient_past_med.anesthetic.label}}</label>
                  <div class="col-sm-1">
                    {{ patient_past_med.anesthetic}}
                  </div>

                </div>

                <div class="">
                  <div class="form-group">
                    <label class="control-label col-sm-1">{{ patient_past_med.allergies.label}}</label>
                    <div class="col-sm-2">
                      {{ patient_past_med.allergies}}
                    </div>
                    <div class="col-sm-2">
                      {{ patient_past_med.allergies_list}}
                    </div>
                    <label class="control-label col-sm-1">{{ patient_past_med.allergies_value.label}}</label>
                    <div class="col-sm-4">
                      {{ patient_past_med.allergies_value}}
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <label class="control-label col-sm-1">{{ patient_past_med.autoimmun_disorder.label}}</label>
                    <div class="col-sm-2">
                      {{ patient_past_med.autoimmun_disorder}}
                    </div>
                    <label class="control-label col-sm-1">{{ patient_past_med.autoimmun_disorder_value.label}}</label>
                    <div class="col-sm-4">
                      {{ patient_past_med.autoimmun_disorder_value}}
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <label class="control-label col-sm-1">{{ patient_past_med.kidney_disease.label}}</label>
                    <div class="col-sm-2">
                      {{ patient_past_med.kidney_disease}}
                    </div>
                    <label class="control-label col-sm-1">{{ patient_past_med.kidney_disease_value.label}}</label>
                    <div class="col-sm-4">
                      {{ patient_past_med.kidney_disease_value}}
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <label class="control-label col-sm-1">{{ patient_past_med.hld.label}}</label>
                    <div class="col-sm-2">
                      {{ patient_past_med.hld}}
                    </div>
                    <label class="control-label col-sm-1">{{ patient_past_med.hld_value.label}}</label>
                    <div class="col-sm-4">
                      {{ patient_past_med.hld_value}}
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <label class="control-label col-sm-1">{{ patient_past_med.history_of_blood_transfusion.label}}</label>
                    <div class="col-sm-2">
                      {{ patient_past_med.history_of_blood_transfusion}}
                    </div>
                    <label class="control-label col-sm-1">{{ patient_past_med.history_of_blood_transfusion_value.label}}</label>
                    <div class="col-sm-4">
                      {{ patient_past_med.history_of_blood_transfusion_value}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-1">{{ patient_past_med.othr.label}}</label>
                  <div class="col-sm-11">
                    {{ patient_past_med.othr}}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default card-view">
          <div class="panel-heading">
            <div class="pull-left">
              <h6 class="panel-title txt-dark">{% trans "Patient Fiels" %}</h6>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-wrapper collapse in">
            <div class="panel-body">
              <table class="table" id="dataTable">
                <thead style="background-color: #89acbdb3;">
                  <tr role="row">
                    <th style="text-align:center;">#</th>
                    <th style="text-align:center;">{% trans "Fiels Name" %}</th>
                    <th style="text-align:center;">{% trans "Attachment" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for att in patient_attachments %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{att.attachment_name}}</td>
                    <td><a href="{{media_url}}{{att.attachment}}" target="_blank"><img src="{{media_url}}{{att.attachment}}" alt="" width="100;" height="100;"></a></td>
                  </tr>
                  {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- /Row -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% trans 'Exit For Patient - '%}{{required_patient}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method='POST'>
            <div class="modal-body">
              {{exit_form.as_p}}
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">{% trans 'Yes' %}</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</form>
{% endblock body %}
