{% extends 'master.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% block body %}

<form id="my_form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <section class="panel panel-default">
    <div class="panel-body">
      <header class="panel-heading font-bold pull-left">{{ page_title }}</header>
      <div class="doc-buttons pull-right">
        <button type="submit" class="btn btn-s-md btn-success">حفظ</button>
        <a href="{% url 'patient:all-gynos' %}" class="btn btn-s-md btn-default">{% trans "Cancel" %}</a>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-body">
      <section class="panel panel-default">
        {{gyno_form|crispy}}
      </section>
    </div>
  </section>
</form>


{% endblock body %}
