{% extends 'master.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% block body %}

<div class="container-fluid">
  <!-- Title -->
  <div class="row heading-bg">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h5 class="txt-dark">{{ page_title|title }}</h5>
    </div>

  </div>
  <!-- /Title -->

  <!-- Row -->
  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default card-view">
          <div class="panel-heading">
            <div class="pull-left">
              <h6 class="panel-title txt-dark"></h6>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-wrapper collapse in">
            <div class="panel-body">
              <div class="form-wrap">

                <div class="form-group mt-30 mb-30">
                  <label class="control-label mb-10">{{ master_form.surgery_name.label }}</label>
                  {{ master_form.surgery_name}}
                </div>
                <hr>

                <div class="form-group mt-30 mb-30">
                  {{ detail_fromset.management_form }}
                  <div id="form_set" class="col-md-9">
                    {% for form in detail_fromset %}
                    <div class="form-group mt-30 mb-30">
                      <label class="control-label mb-10">{{ form.step_name.label }}</label>
                      {{ form.step_name}}
                    </div>
                    {% endfor %}
                  </div>

                  <div id="empty_form" style="display:none">
                    <table class='no_error'>
                      <div class="form-group mt-30 mb-30">
                        <label class="control-label mb-10">{{ detail_fromset.empty_form.step_name.label }} </label>
                        {{ detail_fromset.empty_form.step_name}}
                      </div>
                    </table>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pull-right">
      <button type="button" id="add_more" class="btn cur-p btn-success">{% trans "Add New Line"%}</button>
      <button type="submit" class="btn btn-success btn-anim">
        <i class="fa fa-arrow-circle-left"></i><span class="btn-text">{% trans "Save" %}</span>
      </button>
      <a href="{% url 'surgery:list-surgery-types' %}" class="btn btn-default btn-anim">
        <i class="fa fa-arrow-circle-left"></i><span class="btn-text">{% trans "Back to list" %}</span>
      </a>
    </div>
  </form>
  <!-- /Row -->

</div>


{% endblock body %}
{% block js %}
<script>
  $('#add_more').click(function() {
    var form_idx = $('#id_surgery_steps_set-TOTAL_FORMS').val();
    $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
    $('#id_surgery_steps_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  });
</script>
{% endblock js %}
