{% extends 'master.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% block body %}

<div class="col-xl-12">
  <form id="my_form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'messages.html' %}
    <p>
      <button type="submit" class="btn btn-success">حفظ</button>
      <a href="{% url 'patient:view-patient' pk=patient_id %}" class="btn btn-secondary">{% trans "الغاء" %}</a>
    </p>
    <div class="card">
      <div class="card-header">{{ page_title }}</div>
      <div class="card-body">
        <div class="row show-grid">
          <div class="col-md-6">
            {{ patient_surgery_form.surgery_name|as_crispy_field}}
          </div>
          <div class="col-md-6">
            {{ patient_surgery_form.surgery_doctor|as_crispy_field}}
          </div>
          <div class="col-md-6">
            {{ patient_surgery_form.surgery_date|as_crispy_field}}
          </div>
          <div class="col-md-6">
            {{ patient_surgery_form.exit_date|as_crispy_field}}
          </div>
          <div class="col-md-12">
            {{ patient_surgery_form.case_progress|as_crispy_field}}
          </div>
          <div class="col-md-12">
            {{ patient_surgery_form.final_diagnosis|as_crispy_field}}
          </div>
          <div class="col-md-12">
            {{ patient_surgery_form.recomendations|as_crispy_field}}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive table-bordered">
          <table class="table" id="dataTable">
            <thead style="background-color: #9d9858b3;">
              <tr role="row">
                <th style="text-align:center;">#</th>
                <th style="text-align:center;">طبيعة العملية</th>
                <th style="text-align:center;">اسم الجراح</th>
                <th style="text-align:center;">تاريخ العملية</th>
                <th style="text-align:center;">تاريخ الخروج</th>
                <th style="text-align:center;">تطور الحالة</th>
                <th style="text-align:center;">التشخيص النهائي</th>
                <th style="text-align:center;">توصيات</th>
                <th style="text-align:center;"></th>
              </tr>
            </thead>
            <tbody>
              {% for patient_surgery in list_patient_surgery %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{patient_surgery.surgery_name}}</td>
                <td>{{patient_surgery.surgery_doctor}}</td>
                <td>{{patient_surgery.surgery_date}}</td>
                <td>{{patient_surgery.exit_date}}</td>
                <td>{{patient_surgery.case_progress}}</td>
                <td>{{patient_surgery.final_diagnosis}}</td>
                <td>{{patient_surgery.recomendations}}</td>
                <td>تعديل</td>
              </tr>
              {% endfor %}
          </table>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.panel -->
  </form>
</div>

{% endblock body %}
