{% extends 'master.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% block body %}

<form id="my_form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% include 'messages.html' %}

  <section class="panel panel-default">
    <div class="panel-body">
      <header class="panel-heading font-bold pull-left">{{ page_title }}</header>
      <div class="doc-buttons pull-right">
        <button type="submit" class="btn btn-s-md btn-success">حفظ</button>
        <a href="{% url 'surgery:list-surgery-doctors' %}" class="btn btn-s-md btn-default">{% trans "الغاء" %}</a>
      </div>
    </div>
  </section>
  <section class="panel panel-default" >
    <div class="panel-body">
      <section class="panel panel-default" style="width:50%">
        <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" width="50%" cellspacing="0">
          {{ doctor_form.management_form }}
          {% for form in doctor_form %}
          {{ form.id }}
          {% if forloop.first %}
          <thead>
            <tr>
              {% for field in form.visible_fields %}
              <th>{{ field.label|capfirst }}</th>
              {% endfor %}
            </tr>
          </thead>
          {% endif %}
          <tr>
            {% for field in form.visible_fields %}
            <td>
              {# exclude the hidden fields in the form #}
              {% if forloop.first %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
              {% endif %}
              {{ field.errors.as_ul }}
              {{ field|as_crispy_field }}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </section>
    </div>
  </section>
</form>


{% endblock body %}
