{% extends 'master.html'%}
{% load static %}
{% load i18n %}
{% load l10n %}
{% block body %}

<form id="my_form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% include 'messages.html' %}

  <section class="panel panel-default">
    <div class="panel-body">
      <header class="panel-heading font-bold pull-left">{{ page_title }}</header>
      <div class="doc-buttons pull-right">
        <button type="submit" class="btn btn-s-md btn-success">حفظ</button>
        <a href="{% url 'pharmacy:all-medicines' %}" class="btn btn-s-md btn-default">{% trans "الغاء" %}</a>
      </div>
    </div>
  </section>

        {{medicine_form}}

</form>


{% endblock body %}
